// PALETTE
$color-primary: #0a004b;
$color-secondary: #ff4f4f;
$color-grey-light: rgba(0, 0, 0, 0.1);
$color-grey: rgba(0, 0, 0, 0.5);
$color-grey-dark: rgba(0, 0, 0, 0.65);
$color-white: #ffffff;
$color-danger: #b00020;

// TYPOGRAPHY
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

//FONT-SIZE
$font-size-2x-small: 0.5625rem; //9px
$font-size-x-small: 0.75rem; //12px
$font-size-small: 0.875rem; //14px
$font-size-regular: 1rem; //16px
$font-size-large: 1.125rem; //18px
$font-size-x-large: 1.25rem; //20px
$font-size-2x-large: 1.375; //22px
$font-size-3x-large: 1.5rem; //24px
