@import "../../styles/variables.scss";

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 12px 0;

  .image {
    display: flex;
    position: relative;
    overflow: hidden;

    img {
      cursor: pointer;
      height: 140px;
    }

    .tag {
      color: $color-white;
      background-color: rgba($color-primary, 0.8);
      text-align: center;
      width: 280px;
      height: 40px;
      line-height: 40px;
      top: 18px;
      right: -13%;
      position: relative;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  .info {
    padding: 8px 16px;

    .title {
      color: $color-primary;
      font-weight: $font-weight-bold;
      font-size: $font-size-x-large;
      margin: 0;
    }

    .ingredients {
      color: $color-grey-dark;
      font-weight: $font-weight-semibold;
      font-size: $font-size-small;
      text-transform: capitalize;
      margin: 0;
      padding: 4px 0;
    }
  }
}

// Tablet - Desktop
@media (min-width: 768px) {
  .card {
    margin: 0 24px 24px 0;

    .image {
      .tag {
        top: 40px;
        right: -25%;
      }
    }
  }
}
