@import "./styles/variables.scss";

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

// Mobile
@media (max-width: 768px) {
  h1 {
    font-size: $font-size-x-large;
  }
}
